---
const today = new Date()
---

<footer class='flex justify-center items-center w-full px-16 h-28 border-t-2'>
	&copy; {today.getFullYear()}
	<a href='https://github.com/MIbnEKhalid'>MBK Tech Studio</a>. All Rights Reserved | <a
		href='https://privacy.mbktechstudio.com/'
		target='_blank'>Terms &amp; Conditions</a
	> | <a href='https://mbktechstudio.com/FAQs' target='_blank'>FAQs</a> | <a
		href='mailto:support@mbktechstudio.com'
		title='support@mbktechstudio.com'>support@mbktechstudio.com</a
	>
</footer>
