<!DOCTYPE html>
<meta charset="UTF-8" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.13/css/intlTelInput.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.13/js/intlTelInput-jquery.min.js"></script>
<script src="https://kit.fontawesome.com/0934e8e9d3.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://docs.mbktechstudio.com/Assets/style.css"> 
<link rel="icon" type="image/x-icon" href="https://mbktechstudio.com/Assets/Images/dgicon.svg">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

 
 
    <section class="about" id="about" >   <br>
      <br>
      <br>
      <br>
      <div class="wrapper">
        {{ content }}
      </div>
    </section>

    {%- include footer.html -%}

  </body>

</html>
